<nav class="navbar d-flex justify-content-center sticky-top">
    <a class="navbar-brand" href="#">
        <img src="assets/imgs/logos/Ps-store-logo.jpeg" alt="" height="30">
    </a>
    <ul class="nav-items d-flex justify-content-center flex-wrap">
        <li class="nav-item">
            <a class="nav-link" href="#">Novidades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Coleções</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">PS5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Assinaturas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Navegar</a>
        </li>
    </ul>
</nav>