footer{
    background-color: #003493;
    margin-top: 50px;
    padding: 50px;
    padding-top: 50px;
}

.nav-item, .nav-link{
    font-size: small;
    color: white;
}

.nav-link:hover{
    color: rgb(172, 172, 172);
}

