<footer class="py-3 text-white">
    <div class="pb-5">
        <img src="assets/imgs/logos/Ps-logo2.jpeg" alt="" width="50px">
    </div>
    
    <div class="d-flex align-items-start justify-content-between flex-wrap w-75">
        <ul class="nav d-flex flex-column mb-5">
            <li class="nav-item"><a href="#" class="nav-link px-2">Suporte</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Política de privacidade</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Termos de uso do site</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Mapa do site</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">PlayStation Studios</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Legal</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Sobre a SIE</a></li>
        </ul>

        <ul class="nav d-flex flex-column mb-5">
            <li class="nav-item"><a href="#" class="nav-link px-2">Termos de serviço da PSN</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Política de cancelamento da PS Store</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Avisos de saúde</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Sobre as classificações</a></li>
        </ul>

        <ul class="nav d-flex flex-column mb-5">
            <li class="nav-item"><a href="#" class="nav-link px-2">Facebook</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Twitter</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">YouTube</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Instagram</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Aplicativo para Android</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Aplicativo para IOS</a></li>
        </ul>
    </div>

    <p class="text-center">© 2023 PlayStation.</p>
</footer>