<div class="banner">
    <div class="banner-img d-flex align-items-center">
        <div class="banner-info ">
            <img src="assets/imgs/banner/banner-info.png" alt="" width="100%">
        </div>
    </div>
    <div class="banner-label d-flex align-items-center justify-content-between flex-wrap py-3">
        <div>
            <p>GRANDES JOGOS, GRANDES DESCONTOS</p>
        </div>
        <div>
            <button class="btn btn-primary">Economize Já</button>
        </div>
    </div>
</div>