.banner{
    box-shadow: rgb(146, 146, 146) 0 9px 20px;
}

.banner-img{
    background-image: url(~src/assets/imgs/banner/banner-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    height: 30vh;
    
}

.banner-info{
    width: 50vw;
    margin-left: 10px ;
}

.btn-primary{
    border-radius: 50px;
    background-color: #005499;
}

@media screen and (min-width: 425px) and (max-width: 2560px){
    .banner-img{
        height: 50vh;
    }
    .banner-info{
        width: 25vw;
        margin-left: 20vw ;
    }
  }